<div class="panel panel-default">
    <div class="panel-heading">Media analyzer</div>
    <div class="panel-body">
    
    	Keywords: <input type="text" id="keyWords" value="" />
	    <button class="btn btn-xs" 
	        ng-click="analyze()">
	        Analyze
	    </button>
	    <button class="btn btn-xs" 
	        ng-click="feeds()">
	        Retrieve feeds
	    </button>
	    
	     <table class="table table-bordered table-striped">
	            <thead>
	                <tr>
	                    <th>Keywords present</th>
	                    <th>Negative articles</th>
	                    <th>Positive articles</th>
	                    <th>Neutral articles</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="article in articles">
	                    <td>{{article.keywords}}</td>
	                    <td>{{article.negCount}}</td>
	                    <td>{{article.posCount}}</td>
	                    <td>{{article.neuCount}}</td>
	                </tr>
	            </tbody>
	        </table>   
    </div>
</div>